
<link rel="stylesheet" href="/css/blk-core.min.css">

<h1 class="px2">Stats</h1>
<pre class="p4">
selectors {{ blk.selectors.length }}
declarations {{ blk.declarations.all.length }}
properties {{ blk.aggregates.properties }}

font sizes {{ blk.aggregates.fontSizes.total }}
floats {{ blk.aggregates.floats.total }}
widths {{ blk.aggregates.widths.total }}
height {{ blk.aggregates.height.total }}
color {{ blk.aggregates.color.total }}
background color {{ blk.aggregates.backgroundColor.total }}
</pre>

