
<link rel="stylesheet" href="/css/blk-core.min.css">

<h1 class="px2">Stats</h1>
<pre class="p4">
blk.css
size {{filesize blk.size }} ({{ blk.size }})
selectors {{ blk.selectors.length }}
declarations {{ blk.declarations.all.length }}
properties {{ blk.aggregates.properties.length }}

font sizes {{ blk.aggregates.fontSizes.total }}
floats {{ blk.aggregates.floats.total }}
widths {{ blk.aggregates.widths.total }}
height {{ blk.aggregates.heights.total }}
color {{ blk.aggregates.colors.total }}
background color {{ blk.aggregates.backgroundColors.total }}
</pre>

<pre class="p4">
blk-core.css
size {{filesize blkCore.size }} ({{ blkCore.size }})
selectors {{ blkCore.selectors.length }}
declarations {{ blkCore.declarations.all.length }}
properties {{ blkCore.aggregates.properties.length }}

font sizes {{ blkCore.aggregates.fontSizes.total }}
floats {{ blkCore.aggregates.floats.total }}
widths {{ blkCore.aggregates.widths.total }}
height {{ blkCore.aggregates.heights.total }}
color {{ blkCore.aggregates.colors.total }}
background color {{ blkCore.aggregates.backgroundColors.total }}
</pre>

